<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Wordpress Themes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Lab2Wordpress.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="body__container">
    <nav class="sidebar">
        <a class="sidebar__brand" asp-area="" asp-controller="Home" asp-action="Index"><h4>Wordpress Themes</h4></a>
        <div class="nav__links">
            <ul class="navbar-nav flex-grow-1">
                <li class="sidebar__links-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="GetAll">All Themes</a>
                </li>
                <li class="sidebar__links-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="Create">Create Theme</a>
                </li>
                <li class="sidebar__links-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="Generate">Generate themes and write to csv</a>
                </li>
                <li class="sidebar__links-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="ReadFromCsv">Read themes from csv and save to db</a>
                </li>
                <li class="sidebar__links-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="GetAllAndWriteToCsv">Write all db themes to csv</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="pb-3 main-content">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>