@model Lab2Wordpress.Data.Entities.Theme

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="uk">
<head>
    <title>Edit theme</title>
</head>

<body>
<h3>Edit theme</h3>
@await Html.PartialAsync("_ThemeForm", Model)
</body>